{% extends 'base.html' %}

{% block content %}
    <h1 class="main-header">Добавить запись на прием</h1>
    <form method="POST">
        <div class="form-group">
            <label for="date">Дата:</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="time">Время:</label>
            <input type="time" class="form-control" id="time" name="time" required>
        </div>
          <div class="form-group">
              <label for="doctor">Врач:</label>
               <select class="form-control" id="doctor" name="doctor" required>
                   {% for employee in employees %}
                   <option value = "{{employee[0]}}">{{employee[1]}}</option>
                   {% endfor %}
              </select>
        </div>
         <div class="form-group">
            <label for="patient">Пациент:</label>
            <select class="form-control" id="patient" name="patient" required>
                   {% for patient in patients %}
                   <option value = "{{patient[0]}}">{{patient[1]}}</option>
                   {% endfor %}
              </select>
        </div>
           <div class="form-group">
            <label for="complaints">Жалобы:</label>
              <input type="text" class="form-control" id="complaints" name="complaints">
        </div>
         <div class="form-group">
            <label for="preliminary_diagnosis">Предварительный диагноз:</label>
              <input type="text" class="form-control" id="preliminary_diagnosis" name="preliminary_diagnosis">
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}