{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('payment_details', id=payment[0]) }}" class="back-button">
      <i class="bi bi-arrow-left"></i> Назад
    </a>
    <h1 class="main-header">Редактировать платеж</h1>
    {% if payment %}
    <form method="POST">
        <div class="form-group">
            <label for="date">Дата:</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ payment[1] }}" required>
        </div>
           <div class="form-group">
             <label for="time">Время:</label>
              <input type="time" class="form-control" id="time" name="time" value="{{ payment[2] }}" required>
        </div>
         <div class="form-group">
            <label for="patient">Пациент:</label>
            <select class="form-control" id="patient" name="patient" required>
                   {% for patient in patients %}
                    <option value = "{{patient[0]}}" {% if payment[3] == patient[1] %} selected {% endif %}>{{patient[1]}}</option>
                   {% endfor %}
            </select>
        </div>
          <div class="form-group">
             <label for="service">Услуга:</label>
                <select class="form-control" id="service" name="service" required>
                    {% for service in services %}
                     <option value = "{{service[0]}}" {% if payment[4] == service[1] %} selected {% endif %}>{{service[1]}}</option>
                     {% endfor %}
              </select>
        </div>
          <div class="form-group">
            <label for="summ">Сумма:</label>
            <input type="number" class="form-control" id="summ" name="summ" value="{{ payment[5] }}" required>
        </div>
        <div class="form-group">
              <label for="employee">Сотрудник:</label>
                <select class="form-control" id="employee" name="employee" required>
                     {% for employee in employees %}
                    <option value = "{{employee[0]}}" {% if payment[6] == employee[1] %} selected {% endif %}>{{employee[1]}}</option>
                    {% endfor %}
              </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
           {% else %}
        <p>Платеж не найден.</p>
    {% endif %}
{% endblock %}